extend layout
block content
  p
    form(method='post', action='', id='enroll')
      | Please type in a biker name:
      label(for='f_playerName'): input(id='f_playerName', name='f_playerName', maxlength='12', data-validators='not-empty maxLength:12')
      button(type='button', class='submit'): |play

  div#grid

block sidebar
  ul#players